div#tab-content-members .splitcontentleft, div#tab-content-memberships .splitcontentleft, div#tab-content-assignees .splitcontentleft { width: 64% }
div#tab-content-members .splitcontentright, div#tab-content-memberships .splitcontentright, div#tab-content-assignees .splitcontentright { width: 34% }
div#tab-content-members fieldset, div#tab-content-memberships fieldset, div#tab-content-assignees fieldset { padding:1em; margin-bottom: 1em; }
div#tab-content-members fieldset legend, div#tab-content-memberships fieldset legend, div#tab-content-assignees fieldset legend { font-weight: bold; }
div#tab-content-members fieldset label, div#tab-content-memberships fieldset label, div#tab-content-assignees fieldset label { display: block; }
div#tab-content-members fieldset div, div#tab-content-assignees fieldset div { max-height: 400px; overflow:auto; }

input#assignee_search {width:100%}


.icon {
background-position: 0% 50%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}

.icon-groupext { background-image: url(../images/group.png); }

